{% extends "layout.html" %}
{% block content %}
<p>The last eclipse was over 2 billion years ago. The moon has drifted away from the Earth during this time, resulting in a change of tides and more extreme climates, bringing about an extinction event.</p>
<p>Fortunately, our ancestors put rocket boosters on the moon, just in case. Your mission? To return the moon to its former position to prevent these consequences.</p>
<p>However, all you have are eclipse records from Buffalo, New York and a half-finished program written by ancient high schoolers from 2023. Good luck (you'll need it)!</p>
<hr class="col-3 col-md-2">
<form action="/game/new" method="post" id="form1"></form>
<button class="btn btn-success btn-lg" type="submit" form="form1" value="Submit">Begin Game</button>
{% endblock %}
